*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Noto Sans CJK TC;
}
.menu a{
    color: #9e9384;
}
.menu .container{
    width: 1075px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 100%;
    height: 115px;
    box-shadow: 0px 3px 10px #b3b2b2;
    background: url("./home/images/backline.png") top repeat-x;
    padding-top: 15px;
    position: relative;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    font-size: 22px;
    color: #9e9384;
}
li:hover{
    box-shadow: 0 3px 0 #ffaf00;
}
.menu .senser ul{
    position: absolute;
    display: none;
}
.senser:hover > ul{
    background-color: #ffaf00;
    display: block;
    z-index: 1;
    margin-left: -20px;
}
.senser ul > li a{
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 30px;
}
.senser ul > li a:hover{
    background-color: rgba(255,255,255,.4);
}
.container .logo:hover{
    box-shadow: none;
}
.visit{
    width: 100%;
    height: 69vw;
    background: url("./contact/visit_background.png") no-repeat;
    background-size: 100% auto;
}
.visit .container{
    width: 1075px;
    margin: auto;
}
.visit .visit-form{
    width: 445px;
    float: right;
    padding-top: 70px;
    padding-left: 29px;
}
.visit h1{
    font-size: 44px;
    padding-bottom: 20px;
    color: #ffaf00;
}
.visit span{
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #9e9384;
}
.visit p{
    font-size: 16px;
    letter-spacing: 2px;
    color: #9e9384;
}
.visit .visit-form form input,
.visit .visit-form form textarea{
    width: 100%;
    padding: 8px 10px;
    margin: 2px 0px 10px 0px;
    background-color: rgb(254, 236, 233);
    border-radius: 10px;
    border: none;
}
.visit .visit-form form input[type=submit]{
    font-size: 16px;
    color: #9e9384;
}
.contact .container{
    width: 1075px;
    margin: auto;
    display: flex;
    position: relative;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 170px;
}
.contact h1{
    font-size: 44px;
    color: #ffaf00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.contact h2{
    font-size: 24px;
    letter-spacing: 2px;
    color: #9e9384;
    padding: 20px 0px;
}
.contact p{
    font-size: 18px;
    letter-spacing: 2px;
    color: #9e9384;
}
.contact .landmark,
.contact .phone,
.contact .social{
    padding-top: 150px;
}
.contact .pic img{
    padding-top: 6px;
    padding-left: 20px;
}
.footer{
    height: 88px;
    background-color: #9e9384;
}
.footer p{
    color: #fff;
    text-align: center;
    padding-top: 40px;
}
