.visit{
    width: 100%;
    height: 65vw;
    background: url("./imge/contact/contact-banner.svg") no-repeat;
    background-size: 100% auto;
}
/* .container{
    border: 1px solid red;
} */
.visit .container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 70px 120px 0;
    position: relative;
}
.visit .visit-form{
    width: 46%;
    float: right;
    padding-left: 25px;
}
.visit h1{
    font-size: 44px;
    padding-bottom: 10px;
    color: #ffaf00;
}
.visit p{
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #9e9384;
}
.visit label{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2;
    color: #9e9384;
}
.visit .visit-form form input,
.visit .visit-form form textarea{
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: #faedcd;;
    border-radius: 10px;
    border: none;
}
.visit .visit-form form input[type=submit]{
    font-size: 16px;
    background-color: #ddb892;
    color: #fff;
}
.contact .container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 70px 120px 230px;
    clear: both;
}
.contact h1{
    font-size: 44px;
    letter-spacing: 2px;
    text-align: center;
    color: #ffaf00;
}
.contact .container .con-us{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
}
.contact .con-us .landmark,
.contact .con-us .phone,
.contact .con-us .social{
    width: 270px;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.contact .con-us .pic img{
    width: 80px;
    height: 80px;
}
.contact .con-us .txt{
    text-align: start;
    width: 162px;
}
.contact h2{
    font-size: 24px;
    letter-spacing: 2px;
    color: #9e9384;
    padding: 0 0px 10px;
}
.contact p{
    font-size: 16px;
    letter-spacing: 2px;
    color: #9e9384;
}
.contact .icon{
    display: flex;
}
.contact .icon img{
    width: 26px;
    margin-right: 28px;
}
@media screen and (max-width: 769px){
    .visit{
        background: none;
    }
    .visit .container,
    .contact .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .visit .visit-form{
        width: 100%;
        padding-left: 0;
    }
    .visit h1,
    .contact h1{
        font-size: 5.5vw;
    }
    .visit p{
        font-size: 2.3vw;
    }
    .visit .visit-form form input{
        column-count: 2;
    }
    .contact .container .con-us{
        flex-direction: column;
        align-items: center;
    }
    .contact .con-us .landmark,
    .contact .con-us .phone,
    .contact .con-us .social{
        padding-top: 70px;
    }
    .contact h2{
        font-size: 2.3vw;
        padding-bottom: 15px;
    }
    .contact p{
        font-size: 1.5vw;
    }
}
@media screen and (max-width:429px) {
    .visit .container,
    .contact .container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .visit h1,
    .contact h1{
        font-size: 10vw;
    }
    .visit p{
        font-size: 4vw;
    }
    .contact h2{
        font-size: 4vw;
    }
    .contact p{
        font-size: 2vw;
    }
}