*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Noto Sans CJK TC;
}
body{
    background: url("./home/images/backcolor.png") no-repeat;
    background-size: cover;
}
.container{
    width: 1075px;
    margin: auto;
}
.menu{
    width: 100%;
    height: 115px;
    box-shadow: 0px 3px 10px #b3b2b2;
    background: url("./home/images/backline.png") top repeat-x;
    padding-top: 15px;
    position: relative;
}
.menu a{
    color: #9e9384;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    font-size: 22px;
    color: #9e9384;
}
li:hover{
    box-shadow: 0 3px 0 #ffaf00;
}
.container .logo:hover{
    box-shadow: none;
}
.menu .senser ul{
    position: absolute;
    display: none;
}
.senser:hover > ul{
    background-color: #ffaf00;
    display: block;
    z-index: 1;
    margin-left: -20px;
}
.senser ul > li a{
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 30px;
}
.senser ul > li a:hover{
    background-color: rgba(255,255,255,.4);
}
.banner{
    width: 100%;
    height: 40vw;
    background: url("./home/images/banner01.png") no-repeat;
    background-size: 100% auto;
}
.banner .container{
    padding-left: 5vw;
    padding-top: 10vw;
}
.banner .container h1{
    font-size: 80px;
    color: #ffaf00;
}
.banner .container p{
    font-size: 32px;
    color: #9e9384;
    letter-spacing: 2px;
}
.we .txt{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
.we h1{
    font-size: 65px;
    color: #ffaf00;
    padding-left: 20px;
}
.we blockquote{
    font-size: 23px;
    letter-spacing: 2px;
    color: #9e9384;
}
.we p{
    font-size: 15px;
    letter-spacing: 1px;
    color: #9e9384;
}
.we .section{
    padding: 55px 0px 50px 15px;
}
.section p{
    padding-top: 20px;
}
.we .photo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.we span{
    font-size: 15px;
    line-height: 2;
    color: #9e9384;
    padding-left: 50px;
    position: relative;
}
.we .pic img{
    position: absolute;
    top: 20px;
    right: -70px;
}
.plan .txt{
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
}
.plan .txt h1{
    font-size: 65px;
    color: #ffaf00;
}
.plan blockquote{
    font-size: 23px;
    letter-spacing: 2px;
    color: #9e9384;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: -30px;
}
.plan h2{
    font-size: 15px;
    padding: 3px 0px;
    margin-bottom: 5px;
}
.plan p{
    font-size: 15px;
    letter-spacing: 1px;
    color: #9e9384;
}
.plan .main{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.plan .main > div{
    width: 175px;
    height: 286px;
    padding: 10px 15px;
}
.plan .main .course{
    background: url("./home/images/class_color.png") no-repeat;
}
.plan .main .physical{
    background: url("./home/images/pfysical_color.png") no-repeat;
}
.plan .main .visit{
    background: url("./home/images/visit_color.png") no-repeat;
}
.plan .main .ask{
    background: url("./home/images/ask_color.png") no-repeat;
}
.plan .main p{
    width: 140px;
}
.plan .course h2{
    color: #fe593c;
}
.plan .physical h2{
    color: #437b95;
}
.plan .visit h2{
    color: #f28619;
}
.plan .ask h2{
    color: #748e6e;
}
.traffic .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.traffic h1{
    font-size: 65px;
    color: #ffaf00;
    padding: 100px 50px 88px 0px;
}
.traffic blockquote{
    font-size: 23px;
    letter-spacing: 2px;
    color: #9e9384;
    width: 260px;
    margin-left: 50px;
}
.traffic img{
    padding: 160px 0px;
}
.footer{
    height: 88px;
    background-color: #9e9384;
}
.footer p{
    color: #fff;
    text-align: center;
    padding-top: 40px;
}
